# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages used for Data Science
* List commonly used libraries used for Data Science
* List open source development environments for Data Science

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes into hours by dividing by 60
(200/60)

3.3333333333333335

## Author
Jayanth K N